.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title{
  color: black;
}

.subtitle{
  font-size: 20px;
  margin-bottom: 30px;
  color: black;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.input:focus{
  border-color: #2968df;
  box-shadow: 2px 2px 2px #2968df;
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.button:hover {
  background-color: #49b07d;
}

.or {
  color: black;
}

.link {
  text-decoration: underline;
  color: #7d7c7c;
}

.link:hover {
  color: rgb(61, 61, 61);
}

.google {
  background-color: rgba(228, 97, 50, 0.72);
}

.google:hover {
  background-color: rgba(228, 97, 50, 0.803);
}
.facebook {
  background-color: rgba(0, 32, 214, 0.72);
}

.facebook:hover {
  background-color: rgba(2, 20, 126, 0.72);
}